@import url('https://fonts.cdnfonts.com/css/mv-boli');
*{
    margin:0;
    padding:0;
}
body{
    font-family: 'MV Boli', sans-serif;
    letter-spacing: 2px;
}
/* Header */
.logo_container{
    background-color: #000;
    height:300px;
    display: flex; /* To align content center*/
    justify-content: center;
}

#logo{
    margin-top: 30px;
    width: 700px;
    border-radius: 15px;
    box-shadow: 0 0 10px black;
    
    
}

/* Login Section */
.login_box_container{
    margin-top: 110px;
    /* border: 3px solid black; */
    display: flex;
    justify-content: center;
}
.login_box{
    border: 3px solid black;
    box-shadow: 0 1px 10px black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-flow:column;
    padding: 0 100px 100px 100px;
    /* background-color: tomato; */
}

.avt_container{
    display:flex;
    justify-content: center;
}
#avatar_img{
    width: 100px;
    border-radius: 50%;
    position: relative;
    top: -50px;

}
h2{
    position: relative;
    top:-30px;
}
.details{
    padding:5px;
    border-color: #000;
    border-style: none none solid none;
    border-width: 1px;
    margin-bottom: 30px;
}
.submit{
    display: flex;
    justify-content: center;
}

.submit > input{
    padding: 5px 20px;
    font-weight: bold;
    letter-spacing: 2px;
    border: 1px solid black;
    cursor:pointer;
}

@media only screen and (max-width: 700px) {
    
    .logo_container{
        height:150px;
    }
    
    #logo{
        width: 300px;   
        
    }
}