<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
  </head>
  <link rel="stylesheet" href="style.css" />

  <body>
    <!------------------------------------------------------------------log in page for admin-------------------------->

    <div class="logo_container">
      <div class="logo">
        <img id="logo" src="img/hl (1).jpg" alt="logo" />
      </div>
    </div>
    <div class="login_box_container">
      <div class="login_box">
        <div class="avt_container item">
          <img id="avatar_img" src="img/avatar.png" alt="image" />
        </div>
        <div class="item"> 
             <h2>Admin Login</h2>
        </div>
        <div class="item">
          <form action="">
            <label for="uname" class="labels"> User Name</label><br>
            <input type="text" class="details" id="uname" placeholder="User Name" required /><br>
            <label for="passwd" class="labels">Password</label><br>
            <input type="password" class="details" id="passwd" placeholder="Password" required/><br>
            <div class="submit">
                <input type="submit" value="Login"/>
            </div>
          </form>
        </div>
      </div>
    </div>
    <footer>
        <br>
    </footer>
  </body>
</html>
